:root {
  --bg-color: #333;
  --cell-bg-color: #999;
  --alive-bg-color: pink;
}

body {
  background-color: var(--bg-color) !important;
  color: #fff !important;
}

.board {
  line-height: 0;
  cursor: pointer;

}

.cell {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
  background: var(--cell-bg-color);
}

.alive {
  background: var(--alive-bg-color);
}

button {
  border: none;
  background-color: rgba(255,255,255,.6);
}

button.active {
  background-color: rgba(255,255,255,.3);
}

