$bgColor: #333;
$containerBgColor: rgba(black, 0.5);
$cellBgColor: #999;
$aliveBgColor: #F5D76E;


hr {
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.button-danger {
  background-color: #D7554E;
  border-bottom: 5px solid #AE4642;
  text-shadow: 0px -2px #AE4642;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: $bgColor;
  color: #fff !important;
  font-size: 16px;
}

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-item {
  padding: 25px;
  background-color: $containerBgColor;
  margin: 10px;
  text-align: center;
}

header {
  margin: 40px;
}
.title {
  font-size: 30px;
}

.board {
  line-height: 0;
  cursor: pointer;
  margin: 5px auto 15px;
}

.cell {
  display: inline-block;
  margin-right: 1px;
  margin-bottom: 1px;
  background: $cellBgColor;
}

.alive {
  background: $aliveBgColor;
}

button {
  font-family: 'Press Start 2P', cursive;
  padding: 8px 0;
  margin: 0px 10px 10px 0px;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  color: #FFF;
  text-decoration: none;
  outline: none !important;
  min-width: 115px;
  cursor: pointer;

  background-color: $cellBgColor;
  border-bottom: 5px solid #7F7F7F;
  text-shadow: 0px -2px #7F7F7F;


  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

button:active {
  transform: translate(0px,4px);
  -webkit-transform: translate(0px,4px);
  border-bottom: 1px solid;
}

button.active {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #D1B358;
}


/* ==== STATS ==== */
.stats {
  min-width: 320px;
  font-size: .9rem;
}
.stats-title {
  font-size: 1.3rem;
  margin-bottom: 1.4rem;
}
